<table class=" table table-dark table-striped text-center">
   <tr>
      <td>Member Name</td>
      <td>Email Adress</td>
   </tr>
   <tbody>
      {{#each members}}
      <tr>
         <td> {{this.dataValues.name}}</td>
         <td> {{this.dataValues.email}}</td>
      </tr>
      {{/each}}
   </tbody>

</table>