<table class=" table table-dark table-striped text-center">
   <tbody>
      {{#each books}}
      <tr>
         <td> {{this.dataValues.title}}</td>
         <td> {{this.dataValues.author}}</td>
      </tr>
      {{/each}}
   </tbody>

</table>