 <!-- title, name of project on each page -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<link href="./assets/css/style.css" rel="stylesheet"> 
    <header>
        <div class="container">
            <h1> Literalyst. </h1>
        </div>
    </header>
    <!-- Title page-->
    <div class="container-fluid">
        <div>
            <h2>List of books registered in the Literalyst App</h2>
        </div>
    </div>



{{>viewBooks}}

<a href="/search"><button class="btn btn-gray mb-2">Search - Add Book</button></a>