
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Literalyst Homepage</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">

</head>
<body>
   
   <!-- title, name of project on each page -->
    <header>
        <div class="container">
            <h1> Literalyst. </h1>
        </div>
    </header>







<div class="col-md-12" id="top-bar">
   <h1 class="ml-4"> Homepage for My Book Club </h1>
   {{!-- partial header --}}
</div>

<div class="container" id="mainpageinfo">
   <div class="column">

     

      <a href="/join">Manage Members</a>
      
   
      <a href="/books">Manage Books</a>

   </div>
   <div class="column">
  <a href="https://imgur.com/peaYuTQ"><img src="https://i.imgur.com/peaYuTQ.png" /></a>
   </div>
   {{!-- partial footer --}}
</div>

</body>
</html>