<div class="col-md-12 "
     id="top-bar">
   <h1 class="ml-4"> Book Club </h1>
   {{!-- partial header --}}
</div>

<div class="container">
   <div class="row">

      "Hello World!"

      <a href="/join">join</a>
      <a href="/books">books</a>
      <a href="/members">members</a>



   </div>
   {{!-- partial footer --}}
</div>