
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Literalyst Homepage</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">

</head>
<body>
   
   <!-- title, name of project on each page -->
    <header>
       <div class="container mainheader">
          <div class="row">
             <div class="col-sm-12">
            <h1> Literalyst. </h1>
            </div>
            </div>
            <div class="row">
               <div class="col-sm-4">
               <a href="/join">Join the Club</a>
            </div>

               <div class="col-sm-4">
      
            <a href="/books">Manage Books</a>
            </div>

               <div class="col-sm-4">
 
            <a href="/members">Manage Members</a>
            </div>
            
            </div>
            </div>
    </header>




<div class="container" id="mainpageinfo">
  <img href="https://imgur.com/peaYuTQ"><img src="https://i.imgur.com/peaYuTQ.png" /></img>
</div>

</body>
</html>