 <!-- title, name of project on each page -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<link href="./assets/css/style.css" rel="stylesheet"> 
    <header>
       <div class="container mainheader">
          <div class="row">
             <div class="col-sm-12">
            <h1> Literalyst. </h1>
            </div>
            </div>
            <div class="row">
               <div class="col-sm-4">
               <a href="/join">Join the Club</a>
            </div>

               <div class="col-sm-4">
      
            <a href="/books">Manage Books</a>
            </div>

               <div class="col-sm-4">
 
            <a href="/members">Manage Members</a>
            </div>
            
            </div>
            </div>
    </header>
    <!-- Title page-->
    <div class="container-fluid" id="mainpageinfo">
        <div>
            <h2>Our Current Members</h2>
        </div>


{{>viewMembers}}
 <div class="col-sm-6">
            <a href="/join"><button class="btn btn-gray mb-2">Add a new member!</button></a>
        </div>
</div>
